@using System.Globalization;
@using StockTracker.Models
@using StockTrackerConfigurator.DTOs;
@using static StockTracker.Models.CreationCardModel

@model CreationCardModel;

@{
  StockTrackDTO? cardInfo = Model.CardInfo;

  var triggerPrice = 0f;
  if(cardInfo != null)
  {
    triggerPrice = cardInfo.Buying
     ? cardInfo.Price * (1 - (cardInfo.TriggerPercentage / 100))
     : cardInfo.Price * (1 + (cardInfo.TriggerPercentage / 100));
  }
}

@if(cardInfo != null) {
  <div class="col-2 stock-card detail-card">
    <div>

      <div class="stock-card-border border rounded">

        <form class="needs-validation p-3"
              novalidate>

          <div class="input-group mb-3">

            <input name="@nameof(StockTrackDTO.StockName)"
                   value="@cardInfo.StockName"
                   type="text"
                   class="form-control"
                   disabled>

            <button name="@nameof(StockTrackDTO.NotificationMuted)"
                    class="btn @(cardInfo.NotificationMuted ? "btn-secondary" : "btn-outline-secondary")"
                    type="button"
                    data-bs-toggle="tooltip"
                    title="@(cardInfo.NotificationMuted ? "Unmute notification" : "Mute notification")">
              <i class="fa-solid @(cardInfo.NotificationMuted ? "fa-bell" : "fa-bell-slash")"></i>
              <i class="loading-action fa-solid fa-circle-notch fa-spin"></i>
            </button>

          </div>

          <hr />

          <input type="hidden"
                 name="@nameof(StockTrackDTO.Buying)"
                 value="@cardInfo.Buying.ToString().ToLower()" />

          <input type="hidden"
                 name="@nameof(StockTrackDTO.Id)"
                 value="@cardInfo.Id" />

          <div class="input-group mb-3">
            <button type="button" class="w-100 btn btn-outline-@(cardInfo.Buying ? "danger" : "success")" disabled>
              @(cardInfo.Buying ? "Buying" : "Selling")
            </button>
          </div>

          <div class="form-group mb-3">
            <label for="price">Price</label>
            <input value="@($"R$ {cardInfo.Price.ToString("N2", CultureInfo.CurrentCulture)}")"
                   type="text"
                   class="form-control"
                   disabled>
          </div>

          <div class="input-group mb-3">

            <label class="col-12" for="percentage">Triggers in (%)</label>

            <div class="input-group-prepend w-50">
              <input value="@cardInfo.TriggerPercentage"
                     type="text"
                     class="form-control"
                     disabled>
            </div>

            <input value="@($"R$ {triggerPrice.ToString("N2", CultureInfo.CurrentCulture)}")"
                   type="text"
                   class="form-control"
                   disabled>

          </div>

          <div class="input-group">
            <button type="button"
                    class="btn @CreationCardModel.CARD_REMOVE_BTN btn-danger btn-remove">
              <span>Remove</span>
              <i class="loading-action fa-solid fa-circle-notch fa-spin"></i>
            </button>
          </div>

        </form>

      </div>

    </div>
  </div>
}