@using StockTrackerConfigurator.DTOs;
@using System.Globalization;
@using static StockTrackerConfigurator.Models.CreationCardModel;

@model CreationCardModel;

<div class="col-2 stock-card">
  <div>

    <div class="stock-card-border border rounded">

      <form id="@FORM_ID"
            class="needs-validation p-3"
            novalidate>

        <div class="form-group">
          <select id="@STOCK_INPUT_ID"
                  name="@nameof(StockTrackDTO.StockName)"
                  class="form-control"
                  required>
            <option>@Model.CardInfo?.StockName</option>
          </select>
        </div>

        <hr />

        <div class="btn-group mb-3" role="group">
          <input type="radio"
                 class="btn-check @OPERATION_INPUT_CLASS"
                 name="@nameof(StockTrackDTO.Buying)"
                 id="opt-buying"
                 value="true"
                 checked>

          <label class="btn btn-outline-danger" for="opt-buying">Buying</label>

          <input type="radio"
                 class="btn-check @OPERATION_INPUT_CLASS"
                 name="@nameof(StockTrackDTO.Buying)"
                 id="opt-selling"
                 value="false">

          <label class="btn btn-outline-success" for="opt-selling">Selling</label>
        </div>

        <div class="form-group mb-3">
          <label for="price">Price (R$)</label>
          <input id="@PRICE_INPUT_ID"
                 name="@nameof(StockTrackDTO.Price)"
                 type="number"
                 class="form-control"
                 step="0.01"
                 required>
        </div>

        <div class="input-group mb-3">

          <label class="col-12" for="percentage">Triggers in (%)</label>

          <div class="input-group-prepend w-50">
            <input id="@PERCENTAGE_INPUT_ID"
                   name="@nameof(StockTrackDTO.TriggerPercentage)"
                   type="number"
                   class="form-control"
                   step="0.01"
                   value="0"
                   min="0"
                   required>
          </div>

          <input id="@PERCENTAGE_RESULT_INPUT_ID"
                 type="text"
                 class="form-control"
                 disabled>

        </div>

        <div class="input-group">

          <button type="button"
                  class="btn @CARD_BTN_CLASS btn-primary w-100"
                  data-buying="true">
            Create
          </button>

        </div>

      </form>

    </div>

  </div>
</div>