@using StockTracker.DTOs
@using StockTracker.Models
@using static StockTracker.Models.CloudStorageModel;

@model CloudStorageModel

@{
  ViewData["Title"] = "Cloud Storage";
  CloudStorageDTO dto;
}

<form id="@FORM_ID" class="needs-validation" novalidate>

  <div class="form-group col-md-3 mb-3">
    <label 
      for="@nameof(dto.MongoConnectionString)" 
      class="form-label">
      MongoDB Connection String
    </label>

    <input name="@nameof(dto.MongoConnectionString)"
            type="password"
            class="form-control"
            id="@nameof(dto.MongoConnectionString)"
            value="@(Model.HasString ? "some random string" : string.Empty)"
            required />

    <div class="invalid-feedback"></div>
  </div>

  <button id="@BTN_SUBMIT_ID"
    type="submit" 
    class="btn btn-primary"
    @(Model.HasString ? "disabled" : string.Empty)>
    Save 
  </button>

</form>

<div id="@EXPORT_MODAL_ID" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">Data conflict between cloud and local storage</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </button>
      </div>

      <div class="modal-body">
        <p>Do you want to import the cloud data or export the local data to the cloud?</p>
      </div>

      <div class="modal-footer">

        <button id="@BTN_EXPORT_ID" type="button" class="btn btn-primary"
          >Export to local
        </button>

        <button id="@BTN_IMPORT_ID" type="button" class="btn btn-primary"
          >Import from cloud
        </button>

      </div>

    </div>
  </div>
</div>

@section Scripts {
  <partial name="_Declarings" />
  <script src="~/js/cloud-storage.js"></script>
}