@using StockTrackerConfigurator.DTOs;
@using System.Globalization;
@using static StockTrackerConfigurator.Models.CreationCardModel;

@model CreationCardModel;

@{
  var triggerPrice = Model.CardInfo?.Price * (1 + (Model.CardInfo?.TriggerPercentage / 100));
}

<div class="col-2 stock-card">

  <div 
    class="stock-card-border border rounded @(Model.AddCardButtonMode ? ADD_CARD_ID : string.Empty)">

    <form id="@(Model.AddCardButtonMode ? string.Empty : FORM_ID)"
          class="needs-validation p-3"
          novalidate>

      <div class="form-group">
        <select @(Model.AddCardButtonMode ? string.Empty : $"id={STOCK_INPUT_ID}")
          name="@nameof(StockTrackDTO.StockName)"
          value="@Model.CardInfo?.StockName"
          class="form-control" 
          required>
        </select>
      </div>

      <hr />

      <div class="form-group mb-3">
        <label for="price">Price</label>
        <input @(Model.AddCardButtonMode ? string.Empty : $"id={PRICE_INPUT_ID}")
          name="@nameof(StockTrackDTO.Price)"
          value="@Model.CardInfo?.Price.ToString(CultureInfo.InvariantCulture)"
          type="number" 
          class="form-control" 
          step="0.01"
          required>
      </div>

      <div class="input-group mb-3">

        <label class="col-12" for="percentage">Triggers in (%)</label>

        <div class="input-group-prepend w-50">
          <input @(Model.AddCardButtonMode ? string.Empty : $"id={PERCENTAGE_INPUT_ID}")
            name="@nameof(StockTrackDTO.TriggerPercentage)"
                 value="@Model.CardInfo?.TriggerPercentage.ToString(CultureInfo.InvariantCulture)"
            type="number" 
            class="form-control"
            step="0.01"
            required>
        </div>

        <input @(Model.AddCardButtonMode ? string.Empty : $"id={PERCENTAGE_RESULT_INPUT_ID}")
          value="@triggerPrice?.ToString("N2")"
          type="text" 
          class="form-control" 
          disabled>

      </div>

      <div class="input-group">

        <button 
          type="button" 
          class="btn @CARD_BTN_CLASS btn-danger w-50"
          data-buying="true">
            Buying
        </button>

        <button 
          type="button"
          class="btn @CARD_BTN_CLASS btn-success w-50" 
          data-buying="false">
            Selling
        </button>

      </div>

    </form>

    @if (Model.AddCardButtonMode)
    {
      <div class="card-plus-sign">
        <i class="fa-solid fa-plus"></i>
      </div>
    }

	</div>

</div>