@using StockTracker.DTOs
@using StockTracker.Models
@using static StockTracker.Models.TelegramNotifierModel;

@model TelegramNotifierModel

@{
  ViewData["Title"] = "Telegram Notifier";
  TelegramNotifierDTO dto;
}

<form id="@FORM_ID" class="needs-validation" novalidate>

  <div class="form-group col-md-3 mb-3">
    <label for="@nameof(dto.Token)" class="form-label">Bot Token</label>

    <input name="@nameof(dto.Token)"
            type="password"
            class="form-control"
            id="@nameof(dto.Token)"
            value="@(Model.HasToken ? "some random token" : string.Empty)"
            required />

    <div class="invalid-feedback"></div>

    <small id="@HELP_TEXT_ID"
      class="form-text text-muted blink d-none">
      Please send a message from your telegram to the bot now
    </small>
  </div>

  <button id="@BTN_SUBMIT_ID"
    type="submit" 
    class="btn btn-primary"
    @(Model.HasToken ? "disabled" : string.Empty)>
    Save 
  </button>

</form>

@section Scripts {
  <partial name="_Declarings" />
  <script src="~/js/telegram-notifier.js"></script>
}