@using StockTracker.Models.Shared.Form.Inputs
@model NumberInputModel

<div class="form-group col-md-3 mb-3">

  <partial name="Form/Inputs/_InputLabel" model="Model.Label" />

  <input name="@Model.Name"
         type="number"
         class="form-control"
         value="@Model.Value"
         required="@Model.IsRequired.ToString().ToLower()" 
         min="@Model.Min"
         max="@Model.Max"
         step="@Model.Step"
         @string.Join(" ", Model.Attrs) />

  <div class="invalid-feedback"></div>
</div>